@import "tailwindcss";
@import "@nuxt/ui";

:root {
  font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}
@theme static {
  --color-primary-50:  #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #1e3a8a; 
  --color-primary-600: #1e326f;
  --color-primary-700: #1b2a5c;
  --color-primary-800: #172554;
  --color-primary-900: #0f1e3f;

}
